{% load static %}
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">

<nav class="navbar navbar-light bg-info">
        <div class="container-fluid">
                <a class="navbar-brand" href="#">
                        <img src="{% static "images/my-ledger.PNG" %}" width="30" height="30" class="d-inline-block align-top"
                                alt=""> My Ledger
                </a>
                <ul class="nav nav-pills ">

                        <li class="nav-item">
                                <a class="nav-link text-dark" href="{% url 'home' %}">Home</a>
                        </li>

                        <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Purchase
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                        <a class="dropdown-item" href="{% url 'entry:purchase' %}">Entry</a>
                                        <a class="dropdown-item" href="{% url 'entry:purchase_made' %}">View Purchase</a>
                                        <a class="dropdown-item" href="{% url 'entry:daybook' %}">Day Book</a>
                                </div>
                        </li>
                        <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Sales
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                        <a class="dropdown-item" href="{% url 'sale:sales' %}">Entry</a>
                                        <a class="dropdown-item" href="{% url 'sale:sales_made' %}">View Sales</a>
                                        <a class="dropdown-item" href="{% url 'sale:daybook' %}">Day Book</a>
                                </div>
                        </li>
                        <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Analysis
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                        <a class="dropdown-item" href="{% url 'analysis:ps_analysis' %}">Purchase-Sales Graph</a>
                                        <a class="dropdown-item" href="{% url 'analysis:monthly_balance_sheet' %}">Monthly Balance-Sheet</a>
                                </div>
                        </li>
                        <li class="nav-item">
                                <a class="nav-link text-dark" href="{% url 'inventory:viewinventory' %}">View Inventory</a>
                        </li>
                        <li class="nav-item">
                                <a class="nav-link text-dark" href="{% url 'inventory:notification' %}">Notifications</a>
                        </li>
                        <li class="nav-item">
                                <a class="nav-link text-dark" href="#Help">Help</a>
                        </li>

                        <li class="nav-item">
                                <a class="nav-link text-dark" href="/logout/">Log Out(
                                        <strong>{{request.user.username}}</strong>)</a>
                        </li>

                </ul>
        </div>
</nav>