{% extends "base.html" %} {% block head_title %}Purchase History | {{ block.super }}{% endblock %} {% block content %}

<h1>PurchaseMade</h1>
<table class="table table-dark table-hover">
    <thead class="thead-dark">
        <tr>
            <th>Details</th>
            <th>Product Name</th>
            <th>Quantity</th>
            <th>Rate</th>
            <th>Total</th>
            <th>Remarks</th>
        </tr>
        {% for purchases in object_list %}
        <tr>
            <td> Vendor: {{ purchases.vendor}} | Date: {{ purchases.date}}
                <br> Invoice: {{ purchases.invoice }} | Ch No: {{purchases.ch_no}}</td>
        </tr>
        {% for purchaseitems in purchases.purchasedetail_set.all %}

        <tr>
            <div>
                <td></td>
                <td> {{ purchaseitems.product_name }}</td>
                <td>{{purchaseitems.quantity}}</td>
                <td>{{purchaseitems.rate}}</td>
                <td>{{purchaseitems.total}}</td>
                <td>{{purchaseitems.remarks}}</td>
            </div>

        </tr>
        {% endfor %} {% empty %}
        <li>No Purchase yet.</li>
        {% endfor %}

    </thead>
</table> {% endblock %}