<!DOCTYPE html>
<html lang=en>
{% load static %}

<head>
        <title>{% block head_title %}My Ledger{% endblock head_title %}</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
        <style type="text/css">
                body {
                        background: antiquewhite !important;
                        color: #2c2b2b !important;
                }

                /* Adding !important forces the browser to overwrite the default style applied by Bootstrap */
        </style>
</head>

<body>

        <div class="container-fluid">
                {% include "snippets/nav.html" %}{% block content %} {% endblock %}
        </div>

</body>

</html>